

<nav>
  <div class="nav-wrapper  green darken-3">
    <a href="javascript:void(0)" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>

  </div>
</nav>

<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="../assets/img/map_banner.png">
      </div>
      <a href="javascript:void(0)"><img class="circle" src="../assets/img/user_logo.png"></a>
      <a href="javascript:void(0)"><span class="black-text name">{{currentUser.usuanombre}}</span></a>
      <a href="javascript:void(0)"><span class="black-text email">{{currentUser.usuaemail}}</span></a>
    </div></li>
    <li><a href="javascript:void(0)" class="waves-effect"><i class="material-icons">cloud</i>Primer enlace</a></li>
    <li><div class="divider"></div></li>
    <li><a href="javascript:void(0)"class="waves-effect"><i class="material-icons">group_work</i>Segundo enlace</a></li>
    <li><div class="divider"></div></li>
    <li><a href="javascript:void(0)" class="waves-effect"><i class="material-icons">question_answer</i>Tercer enlace</a></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" [routerLink]="['/login']">Cerrar sesion</a></li>
</ul>

<router-outlet></router-outlet>
