<div class="row center">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        <img src="../../assets/img/turbus-starken.png">
      </div>
      <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="card-content">
          <div class="input-field">
            <input mdInput type="text" id="usuario" name="usuario"
               [(ngModel)]="model.usualogin" #usualogin="ngModel"
               placeholder="Usuario" required />
             <label for="usuario" class="green-text text-darken-2" data-error="Usuario Requerido">Usuario</label>
          </div>

      <div class="input-field">
      <input mdInput type="password" id="password" name="password"
             [(ngModel)]="model.usuapass" #usuapass="ngModel"
             placeholder="Password" required />
             <label for="pass" class="green-text text-darken-2" data-error="Password Requerido">Contraseña</label>
         </div>
       </div>

  <div class="card-action">
    <button [disabled]="loading" class="btn waves-effect waves-light green">
      Login
      <i class="material-icons right ">send</i>
    </button>

    <a routerLink="['/register']" class="btn waves-effect waves-light green">
      Registro
      <i class="material-icons right ">supervisor_account</i>
    </a>
    <div *ngIf="loading" class="progress">
      <div class="indeterminate"></div>
    </div>

  </div>
  </form>
</div>
</div>
</div>
